<!DOCTYPE html>
<html>
<head>
    <title>User Stories by FreshDev</title>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>

<div class="ui container">
    <% if(error && error.length > 0){ %>
    <div class="ui error message" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="ui success message" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>

<div id="landing-header">
    <h1>Welcome to User Stories!</h1>
    <a href="/projects" class="ui button big green">View All Projects</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include ./partials/footer %>
Photo by rawpixel.com on Unsplash